.container {
    max-width: 36 rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-top: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
    
    margin-right: 3rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.feedbackinput {
    color:black;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

.feedbackinput:focus { border:2px solid black; }

.submit {
    width: 100%;
    background:black;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

.submit:hover { background:grey; }

.Contactsimages{
      text-align: center;
}